@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
cursor: none;
margin: 0;
padding: 0;
box-sizing: border-box;
}
body, html {
width: 100%;
height: 100%;
}
section {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}

body {
  cursor: none;
}

.cursor, .cursor2 {
  position: fixed;
  top: 0; left: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.2s, transform 0.1s, width 0.2s, height 0.2s;
  z-index: 10000;
}

.cursor {
  width: 20px;
  height: 20px;
  background: #3a3a3a5d;
  border: 2px solid #ffffff86;
}

.cursor2 {
  width: 40px;
  height: 40px;
  background: #3a3a3a5d;
  border: 2px solid #ffffff86;
}
.hover {
background-color: red;
opacity: 0.5;
}
.cursorinnerhover {
width: 50px;
height: 50px;
opacity: .5;
}